.card-1 {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-1-bg.png');
  background-size: cover;
  border-style: solid;
  border-color: #cbced2;
  margin-bottom: 5px;
  list-style-type: none;
}

.card-2 {
  display: flex;
  justify-content: flex-end;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-2-bg.png');
  background-size: cover;
  border-style: solid;
  border-color: #cbced2;
  margin-bottom: 5px;
  list-style-type: none;
}

.card-3 {
  display: flex;
  justify-content: center;
  text-align: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-3-bg.png');
  background-size: cover;
  border-style: solid;
  border-color: #cbced2;
  margin-bottom: 5px;
  list-style-type: none;
}

/* Write your code here. */
.cards-container {
  display: flex;
  flex-direction: column;
}
.head {
  color: #326a9d;
  padding-left: 10px;
}
.para {
  color: #cbced2;
  padding-left: 10px;
}
.buttons {
  color: #326a9d;
  background-color: transparent;
  border-style: solid;
  border-color: #326a9d;
  width: 100px;
  padding: 5px;
  margin: 10px;
}
